
<div id="bang-gia" class="table-responsive">
    <div class="container">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <th class="package-sliver">
                    <h5>Package Sliver</h5>
                    <p>99~200 $</p>
                </th>
                <th class="package-gold">
                    <h5>Package Gold</h5>
                    <p>200~500 $</p>
                </th>
                <th class="package-diamond">
                    <h5>Package Diamond</h5>
                    <p><img src="images/vocung.png" alt="vocung" class="img-responsive"></p>
                </th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Lưu trữ</td>
                <td>Table cell</td>
                <td class="package-gold">Table cell</td>
                <td>Table cell</td>

            </tr>
            <tr>
                <td>Giao diện</td>
                <td>Table cell</td>
                <td class="package-gold">Table cell</td>
                <td>Table cell</td>

            </tr>
            <tr>
                <td>Quản lý</td>
                <td>Table cell</td>
                <td class="package-gold">Table cell</td>
                <td>Table cell</td>
            </tr>
            <tr>
                <td>Hệ thống</td>
                <td>Table cell</td>
                <td class="package-gold">Table cell</td>
                <td>Table cell</td>
            </tr>
            <tr>
                <td>Máy chủ</td>
                <td>Table cell</td>
                <td class="package-gold">Table cell</td>
                <td>Table cell</td>
            </tr>
            <tr>
                <td>Theo yêu cầu</td>
                <td>Table cell</td>
                <td class="package-gold">Table cell</td>
                <td>Table cell</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>