<div class="feature bg-block">
    <div class="hexagon">
        <div class="outer"></div>
        <div class="inner"></div>
    </div>
    <div class="col-xs-12 col-lg-8 col-md-12 col-sm-12">
        <div class="row item-feature" style="padding-top: 0px;">
            <div class="ol-lg-6 col-md-6 col-sm-6 col-xs-12">
                <i class="fa fa-money"></i>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="text-item-feature">
                    <div class="aside">Tầm nhìn</div>
                    <h3>Chi phí đầu tư thấp, đạt được hiệu quả dài hạn</h3>
                </div>
            </div>

        </div>
        <div class="feature-divider"></div>
        <div class="row item-feature">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="text-item-feature">
                    <div class="aside">Hệ thống thông minh</div>
                    <h3>Được thiết kế tăng tối đa hiệu suất phục vụ nhà hàng</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <i class="fa fa-cogs fa-5x"></i>
            </div>
        </div>
        <div class="feature-divider"></div>
        <div class="row item-feature">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <i class="fa fa-clock-o"></i>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="text-item-feature">
                    <div class="aside">Thời gian thực</div>
                    <h3>Quản lý tuyệt vời nhà hàng từ xa dù bạn đang đi du lịch</h3>
                </div>
            </div>
        </div>
        <div class="feature-divider"></div>
        <div class="row item-feature">
            <div class="col-lg-16 col-md-6 col-sm-6 col-xs-12">
                <div class="text-item-feature">
                    <div class="aside">Báo cáo</div>
                    <h3>Xem trên thiết bị và in thống kê các hoạt động nhà hàng</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <i class="fa fa-bar-chart-o"></i>
                <!--<img src="../images/manalytic.png" alt="Analytic"/>-->
            </div>
        </div>
        <div class="feature-divider"></div>
        <div class="row item-feature">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <i class="fa fa-cloud-upload"></i>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="text-item-feature">
                    <div class="aside">Điện toán đám mây</div>
                    <h3>Hệ thống hoạt động bình thường khi không kết nối mạng</h3>
                </div>
            </div>
        </div>
        <div class="feature-divider"></div>
        <div class="row item-feature" style="padding-bottom: 0px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="text-item-feature">
                    <div class="aside">Kết nối khách hàng</div>
                    <h3>Quan hệ khách hàng và phát triển kinh doanh</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <i class="fa fa-users"></i>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-lg-4 col-md-4 visible-lg">
        <style>
            .title-cube {

                text-align: center;
                margin: 0 auto;
                height: 100px;
                padding-left: 15px;
                padding-right: 15px;
                -webkit-transition: -webkit-transform .33s;
                transition: transform .33s; /* Animate the transform properties */

                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d; /* <-NB */
            }

            /* The two faces of the cube */


            /* Position the faces */
            .flippety {
                -webkit-transform: translateZ(50px);
                transform: translateZ(50px);
            }

            .flop {
                -webkit-transform: rotateX(-90deg) translateZ(-50px);
                transform: rotateX(-90deg) translateZ(-50px);
            }

            /* Rotate the cube */
            .title-cube:hover {
                -webkit-transform: rotateX(90deg);
                transform: rotateX(90deg); /* Text bleed at 90º */
            }

        </style>
        <div class="bg-cube">
            <div id="tit-cube" class="title-cube">
                <div class="flippety">
                    <img src="images/image-cube2.jpg" alt="cube2">
                </div>
                <div class="flop">
                    <img src="../images/img-cube1.jpg" alt="Demo-0.jpg" class="img-responsive">
                </div>
            </div>
        </div>
        <div id="item-cube">
            <div class="title-cube tit-item-cube col-xs-4 first-cube">
                <div class="flippety flippety-item">
                    <img src="../images/img-cube4.png" alt="img-cube3">
                </div>
                <div class="flop flop-item">
                    <img src="../images/img-cube8.png" alt="img-cube3">
                </div>
            </div>
            <div class="title-cube tit-item-cube col-xs-4 better-cube">
                <div class="flippety flippety-item">
                    <img src="../images/img-cube3.png" alt="img-cube3" >
                </div>
                <div class="flop flop-item">
                    <img src="../images/img-cube9.png" alt="img-cube3">
                </div>
            </div>
            <div class="title-cube tit-item-cube col-xs-4 end-cube">
                <div class="flippety flippety-item flop-item-b">
                    <img src="../images/img-cube5.png" alt="img-cube5" >
                </div>
                <div class="flop flop-item flop-item-b">
                    <img src="../images/img-cube10.png" alt="img-cube3">
                </div>
            </div>
            <div class="line-cube"></div>
            <div class="title-cube tit-item-cube col-xs-4 first-cube">
                <div class="flippety flippety-item">
                    <img src="../images/kfc-1.png" alt="img-cube5" >
                </div>
                <div class="flop flop-item">
                    <img src="../images/kfc.png" alt="img-cube5" >
                </div>
            </div>
            <div class="title-cube tit-item-cube col-xs-4 better-cube">
                <div class="flippety flippety-item">
                    <img src="../images/darkha-1.png" alt="img-cube5" >
                </div>
                <div class="flop flop-item">
                    <img src="../images/darkha.png" alt="img-cube5" >
                </div>
            </div>
            <div class="title-cube tit-item-cube col-xs-4 end-cube">
                <div class="flippety flippety-item flop-item-b">
                    <img src="../images/foody-1.png" alt="img-cube5" >
                </div>
                <div class="flop flop-item flop-item-b">
                    <img src="../images/foody.png" alt="img-cube5" >
                </div>
            </div>
            <div class="line-cube"></div>
            <div class="title-cube tit-item-cube col-xs-4 first-cube">
                <div class="flippety flippety-item">
                    <img src="../images/lotte-1.png" alt="img-cube5" >
                </div>
                <div class="flop flop-item">
                    <img src="../images/lotte.png" alt="img-cube5" >
                </div>
            </div>
            <div class="title-cube tit-item-cube col-xs-4 better-cube">
                <div class="flippety flippety-item">
                    <img src="../images/macdonail-1.png" alt="img-cube5" >
                </div>
                <div class="flop flop-item">
                    <img src="../images/macdonail.png" alt="img-cube5" >
                </div>
            </div>
            <div class="title-cube tit-item-cube col-xs-4 end-cube">
                <div class="flippety flippety-item flop-item-b">
                    <img src="../images/trung-nguyen-coffee-logo-1.png" alt="img-cube5" >
                </div>
                <div class="flop flop-item flop-item-b">
                    <img src="../images/trung-nguyen-coffee-logo.png" alt="img-cube5" >
                </div>
            </div>
            <div class="line-cube"></div>
            <div class="title-cube tit-item-cube col-xs-4 first-cube">
                <div class="flippety flippety-item">
                    <img src="../images/u31384_Logo-muacacao-1.png" alt="img-cube5" >
                </div>
                <div class="flop flop-item">
                    <img src="../images/u31384_Logo-muacacao.png" alt="img-cube5" >
                </div>
            </div>
            <div class="title-cube tit-item-cube col-xs-4 better-cube">
                <div class="flippety flippety-item">
                    <img src="../images/Statbucks-logo-1.png" alt="img-cube5" >
                </div>
                <div class="flop flop-item">
                    <img src="../images/Statbucks-logo.png" alt="img-cube5" >
                </div>
            </div>
            <div class="title-cube tit-item-cube col-xs-4 end-cube">
                <div class="flippety flippety-item flop-item-b">
                    <img src="../images/roce-1.png" alt="img-cube5" >
                </div>
                <div class="flop flop-item">
                    <img src="../images/roce.png" alt="img-cube3">
                </div>
            </div>
            <div class="line-cube"></div>
            <div class="title-cube tit-item-cube col-xs-4 first-cube">
                <div class="flippety flippety-item">
                    <img src="../images/bbq-1.png" alt="img-cube5" >
                </div>
                <div class="flop flop-item">
                    <img src="../images/bbq.png" alt="img-cube3">
                </div>
            </div>
            <div class="title-cube tit-item-cube col-xs-4 better-cube">
                <div class="flippety flippety-item">
                    <img src="../images/1369244476logo-1.png" alt="img-cube5" >
                </div>
                <div class="flop flop-item">
                    <img src="../images/1369244476logo.png" alt="img-cube3">
                </div>
            </div>
            <div class="title-cube tit-item-cube col-xs-4 end-cube">
                <div class="flippety flippety-item flop-item-b">
                    <img src="../images/logo-(1)-1.png" alt="img-cube5" >
                </div>
                <div class="flop flop-item flop-item-b">
                    <img src="../images/logo-(1).png" alt="img-cube3">
                </div>
            </div>
            <div class="line-cube"></div>
            <div class="title-cube tit-item-cube col-xs-4 first-cube">
                <div class="flippety flippety-item">
                    <img src="../images/logo-(4)-1.png" alt="img-cube5" >
                </div>
                <div class="flop flop-item">
                    <img src="../images/logo-(4).png" alt="img-cube3">
                </div>
            </div>
            <div class="title-cube tit-item-cube col-xs-4 better-cube">
                <div class="flippety flippety-item">
                    <img src="../images/logo-(2)-1.png" alt="img-cube5" >
                </div>
                <div class="flop flop-item">
                    <img src="../images/logo-(2).png" alt="img-cube3">
                </div>
            </div>
            <div class="title-cube tit-item-cube col-xs-4 end-cube">
                <div class="flippety flippety-item flop-item-b">
                    <img src="../images/logo-(5)-1.png" alt="img-cube5" >
                </div>
                <div class="flop flop-item flop-item-b">
                    <img src="../images/logo-(5).png" alt="img-cube3">
                </div>
            </div>
            <div class="line-cube"></div>
            <div class="title-cube tit-item-cube col-xs-4 first-cube">
                <div class="flippety flippety-item">
                    <img src="../images/logo-(3)-1.png" alt="img-cube5" >
                </div>
                <div class="flop flop-item">
                    <img src="../images/logo-(3).png" alt="img-cube3">
                </div>
            </div>
            <div class="title-cube tit-item-cube col-xs-4 better-cube">
                <div class="flippety flippety-item">
                    <img src="../images/giavien-1.png" alt="img-cube5" >
                </div>
                <div class="flop flop-item">
                    <img src="../images/logo2.png" alt="img-cube3">
                </div>
            </div>
            <div class="title-cube tit-item-cube col-xs-4 end-cube">
                <div class="flippety flippety-item flop-item-b">
                    <img src="../images/logo-sukien-1.png" alt="img-cube5" >
                </div>
                <div class="flop flop-item flop-item-b">
                    <img src="../images/logo-sukien.png" alt="img-cube3">
                </div>
            </div>
            <div class="line-cube"></div>
            <div class="title-cube tit-item-cube col-xs-4 first-cube">
                <div class="flippety flippety-item">
                    <img src="../images/Mama_Fus_logo_V_rgb-1.png" alt="img-cube5" >
                </div>
                <div class="flop flop-item">
                    <img src="../images/Mama_Fus_logo_V_rgb.png" alt="img-cube3">
                </div>
            </div>
            <div class="title-cube tit-item-cube col-xs-4 better-cube">
                <div class="flippety flippety-item">
                    <img src="../images/Pizza_Hut_logo-1.png" alt="img-cube5" >
                </div>
                <div class="flop flop-item">
                    <img src="../images/Pizza_Hut_logo.png" alt="img-cube3">
                </div>
            </div>
            <div class="title-cube tit-item-cube col-xs-4 end-cube">
                <div class="flippety flippety-item flop-item-b">
                    <img src="../images/Tesco_Cafe-1.png" alt="img-cube5" >
                </div>
                <div class="flop flop-item flop-item-b">
                    <img src="../images/Tesco_Cafe.png" alt="img-cube3">
                </div>
            </div>

        </div>

    </div>
   <!-- <div id="end-cube" class="col-xs-4 col-lg-4 col-md-4 visible-lg">
        <div id="confes" class="row">
            <i class="fa fa-bell"></i>
           <p>"Tôi rất hài lòng với hệ thống nhà hàng thông minh rất dễ sử dụng và hỗ trợ doanh nghiệp tiếp cận người tiêu dùng rất hiệu quả"</p>
            <div id="people">
                <p>Chị Hoàng Kim Ngân</p>
            </div>
        </div>
    </div>-->
</div>


