<div id="banner-infobell">
    <img src="images/gt.jpg" alt="gt" class="img-responsive">
</div>
<div class="infoBell">
    <div class="navbar navbar-default navbar-fixed-top visible-lg visible-md container" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-6">
            <ul class="nav navbar-nav">
                <li id="icon-home" class="active"><a href="#/"><i class="fa fa-home"></i></a></li>
                <li><a href="#/gioi-thieu"><i class="fa fa-comments-o"></i> Giới thiệu</a></li>
                <li><a href="#/support"><i class="fa fa-cogs"></i> Hỗ trợ</a></li>
                <li><a href="#/banggia"><i class="fa fa-credit-card"></i> Bảng giá</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
    <div class="container">
        <div id="logo">
            <a href="#">
                <img src="images/logo.png" alt="logo">
            </a>
        </div>
    </div>
    <div class="container1">
        <div class="select">
            <div class="container">
                <div class="col-md-3"><img class="menuInfo" src="../images/m1.png" alt=""/><b> &nbsp;Bell</b> - Nhân viên</div>
                <div class="col-md-3"><img class="menuInfo" src="../images/m2.png" alt=""/><b> &nbsp;Bell</b> - Bếp</div>
                <div class="col-md-3"><img class="menuInfo" src="../images/m4.png" alt=""/><b> &nbsp;Bell</b> - Ông chủ</div>
                <div class="col-md-3"><img class="menuInfo" src="../images/m3.png" alt=""/><b> &nbsp;Bell</b> - Khách hàng</div>
            </div>

        </div>
        <!--<div class="congnghe row">-->
            <!--<div class="col-md-12 text-center"><i class="fa fa-bell-o"></i> &nbsp;&nbsp;&nbsp;Công nghệ - Nhanh chóng - Hiện đại</div>-->
        <!--</div>-->
        <div class="tectcho nv">
            <div class="container">
                <div class="col-md-8">
                    <div class="col-md-5">
                        <p class="infonv">Nhân viên</p>
                        <p class="infoselect">Đưa cho khách hàng lựa chọn những món</p>
                        <p>ăn trong ngày của nhà hàng</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="../images/nv1.png" alt="nv"/>
                    <p class="text-center infonv">Quản Lý</p>
                    <p class="thongtin">Ngày làm việc của nhân viên được thông kê</p>
                    <p class="ht text-center">Hệ thống chấm công thông minh</p>
                </div>
            </div>

        </div>
        <div class="giaodien text-center">
            <h3>Giao diện nổi bật - Notify tức thời trạng thái bàn</h3>
            <img class="img-responsive" src="../images/thongminh.jpg" alt="tich hop cac thiet bi"/>
        </div>
        <div id="header">
            <!-- jQuery handles to place the header background images -->
            <div id="headerimgs">
                <div id="headerimg1" class="headerimg"></div>
                <div id="headerimg2" class="headerimg"></div>
            </div>
            <!-- Top navigation on top of the images -->
            <!-- Slideshow controls -->
            <!-- jQuery handles for the text displayed on top of the images -->
            <div id="headertxt">
                <p class="caption">
                    <span id="firstline"></span>
                    <a href="#" id="secondline"></a>
                </p>
                <p class="pictured">
                    Bell:
                    <a href="#" id="pictureduri"></a>
                </p>
            </div>
        </div>
        <!--<div class="bep">-->
            <!--<div class="container">-->
                <!--<div class="col-md-5">-->
                    <!--<p class="text-center infonv">Nhân viên bếp</p>-->
                    <!--<p class="thongtin">Làm món ăn theo thông tin khách hàng</p>-->
                    <!--<p class="ht text-center">và thông báo đã hoàn thành</p>-->
                <!--</div>-->
                <!--<div class="col-md-7" style="border-left: 1px solid #CDCDCD">-->
                    <!--<img class="img-responsive" src="../images/tivi.png" alt=""/>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->

        <div class="tectcho tbs3">
            <div class="col-md-4 text-center">
                <h4 class="text-center boss">Bảng chấp công nhân viên</h4>
                <p>Hệ thống chấm công theo sự đăng nhập</p>
                <p>Ngày - Tháng</p>
                <img class="img-responsive img-thumbnail" src="../images/chart.png" alt="Chart"/>
            </div>
            <div class="col-md-4 text-center">
                <h4 class="text-center boss">Quản lý nhân viên</h4>
                <p>Quản lý - theo dõi nhân viên theo ca</p>
                <p>Tình hình - hoạt động</p>
                <img class="img-responsive img-thumbnail" src="../images/chart2.png" alt="Chart"/>
            </div>
            <div class="col-md-4 text-center">
                <h4 class="text-center boss">Theo dõi - thông kê theo ngày</h4>
                <p>doanh số trong ngày - tháng,bảng thông kê</p>
                <p>doanh thu</p>
                <img class="img-responsive img-thumbnail" src="../images/chart3.png" alt="Chart"/>
            </div>
        </div>
    </div>

</div>
<div id="end" class="ng-scope">
    <div class="content-support">
        <div class="row dist_off_foot">
            <div class="widget col-lg-2 col-md-2 col-sm-4 visible-lg ">
                <h5 class="tit_cont_foot">Về chúng tôi</h5>
                <ul class="list-unstyled">
                    <li><a href="#"><span class="fa fa-info-circle"></span> Giới thiệu chung</a></li>
                    <li><a href="#"><span class="fa fa-rocket"></span> Sứ mệnh - Tầm nhìn</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-circle-arrow-right"></span>Câu chuyện Logo</a></li>
                    <li><a href="#"><span class="fa fa-users"></span> Đối tác - Khách hàng</a></li>
                    <li><a href="#"><span class="fa fa-bullhorn"></span> Tin tức - Báo chí</a></li>
                </ul>
            </div>
            <div class="widget col-lg-2 col-md-2 col-sm-4 visible-lg ">
                <h5 class="tit_cont_foot">Sản phẩm</h5>
                <ul class="list-unstyled">
                    <li><a href="#"><span class="fa fa-magic"></span> Chúng tôi khác biệt</a></li>
                    <li><a href="#"><span class="fa fa-cloud"></span> Doanh nghiệp trực tuyến</a></li>
                    <li><a href="#"><span class="fa fa-shopping-cart"></span> Thương mại điện tử</a></li>
                    <li><a href="#"><span class="fa fa-bullseye"></span> Truyền thông số</a></li>
                    <li><a href="#"><span class="fa fa-toggle-right"></span> Nội dung số</a></li>
                </ul>
            </div>
            <div class="widget col-lg-2 col-md-2 col-sm-4 visible-lg ">
                <h5 class="tit_cont_foot">Liên hệ</h5>
                <ul class="list-unstyled">
                    <li><a href="#"><span class="fa fa-comments-o"></span> Trung tâm hỗ trợ</a></li>
                    <li><a href="#"><span class="fa fa-envelope-o"></span> Liên hệ đầu tư</a></li>
                    <li><a href="#"><span class="fa fa-random"></span> Chương trình đối tác</a></li>
                    <li><a href="#"><span class="fa fa-puzzle-piece"></span> Tuyển dụng</a></li>
                </ul>
            </div>

            <div class="widget col-lg-3 col-md-3 col-sm-6 ">
                <h5 class="tit_cont_foot">Hà Nội</h5>
                <p><i class="fa fa-map-marker"></i> Toà nhà Trung Yên 1 - Vũ Phạm Hàm - Cầu Giấy- Hà Nội.</p>
                <p><i class="fa fa-phone-square"></i> 04.38.550.999</p>
                <p><span class="fa fa-envelope"></span> <a href="mailto:contact@vsoft.vn" class="info_contact">TungNguyen@vsoft.vn</a></p>
            </div>
            <div class="widget col-lg-3 col-md-3 col-sm-6 ">
                <h5 class="tit_cont_foot">Hồ Chí Minh</h5>
                <p><i class="fa fa-map-marker"></i> 266/22 Tô Hiến Thành - Phường 15 <br> - Quận 10 - Hồ Chí Minh.</p>
                <p><i class="fa fa-phone-square"></i> 0866.823.282</p>
                <p><span class="fa fa-envelope"></span> <a href="mailto:contact@vsoft.vn" class="info_contact">TungNguyen@vsoft.vn</a></p>
            </div>
        </div>

    </div>

    <div class="footer-divider"></div>

    <div class="container">
        <div class="row">
            <p class="copy_right text-center">2013 © VSOFT SOLUTION </p>
        </div>
    </div>
</div>
<script src="../vendor/js/infoBellSlideshow.js"></script>
