<!-- start slideshow -->
<div id="content-slider-1" class="royalSlider contentSlider rsDefault visible-lg visible-md visible-sm">
    <div>
        <img class="rsImg img-responsive" src="../images/Demo-0.jpg" alt="slideshow"/>
    </div>
    <div>
        <img class="rsImg img-responsive" src="../images/Demo-1.jpg" alt="slideshow"/>
    </div>

    <div>
        <img class="rsImg img-responsive" src="../images/Demo-2.jpg" alt="slideshow"/>
    </div>
    <div>
        <img class="rsImg img-responsive" src="../images/Demo-3.jpg" alt="slideshow"/>
    </div>
    <div>
        <img class="rsImg img-responsive" src="../images/Demo-4.jpg" alt="slideshow"/>
    </div>
    <div>
        <img class="rsImg img-responsive" src="../images/Demo-5.jpg" alt="slideshow"/>
    </div>
</div>
<!-- end slide show -->

<!-- start menu-responsive -->
<div id="menu-top" class="visible-sm visible-xs">
    <a href="#menu"><i class="fa fa-align-justify"></i></a>
</div>
<nav id="menu">
    <ul>
        <li><a href="#" TARGET="_blank"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a href="#/gioi-thieu" TARGET="_blank"><i class="fa fa-comments-o"></i> Giới thiệu</a></li>
        <li class="Selected"><a href="#/support"><i class="fa fa-cogs"></i> Hỗ trợ</a></li>
        <li><a href="#/banggia" TARGET="_blank"><i class="fa fa-credit-card"></i> Bảng giá</a></li>
    </ul>
</nav>
<!-- end menu-responsive -->

<!-- start menu-destop -->
<div class="navbar navbar-default navbar-fixed-top visible-lg visible-md row" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-6">
        <ul class="nav navbar-nav">
            <li id="icon-home" class="active"><a href="#/"><i class="fa fa-home"></i></a></li>
            <li><a href="#/gioi-thieu"><i class="fa fa-comments-o"></i> Giới thiệu</a></li>
            <li><a href="#/support"><i class="fa fa-cogs"></i> Hỗ trợ</a></li>
            <li><a href="#/banggia"><i class="fa fa-credit-card"></i> Bảng giá</a></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</div>
<!-- end menu-destop -->
<!-- logo -->
<div class="row hidden-xs">
    <div id="logo">
        <a href="#">
            <img src="../images/logo.png" alt="logo">
        </a>
    </div>
</div>
<div id="logo-responsive" class="visible-xs">
    <img src="../images/logo-responsive.png" alt="logo-responsive">
</div>
<!-- end logo -->
<!-- start input & video -->
<div id="input-video">
    <div class="row">
        <div id="input-form" class="col-lg-5">
            <h2>Thay đổi ngay hôm nay !</h2>

            <p><i class="fa fa-question-circle"></i> Bạn là chủ Nhà hàng, Cafe, Khách sạn ?</p>

            <p><i class="fa fa-question-circle"></i> Hệ thống của bạn thủ công, cồng kềnh ?</p>

            <p><i class="fa fa-magic"></i> Hãy để chúng tôi mang tới công nghệ tự động hóa hệ thống Nhà hàng, Cafe,
                Khách sạn của bạn!</p>

            <div class="row">
                <div class="col-xs-4"><a href="#"><img src="../images/qrcode.png" height="165px" alt=""/></a></div>
                <div class="col-xs-4 download-app">
                    <a href=""><img src="../images/button-download.png" alt="appstore" id="img-download"></a>
                    <a href=""><img src="../images/appstore.png" alt="appstore" class="img-dl-store"></a>
                </div>
            </div>

            <!--<div id="input-top" class="row">-->
            <!--<div id="input-left" class="input-group col-lg-6 col-xs-12 pull-left">-->
            <!--<span class="input-group-addon icon-user"><i class="fa fa-user"></i></span>-->
            <!--<input ng-model="customer.name" type="text" class="form-control" placeholder="Tên quý khách">-->
            <!--</div>-->
            <!--<div id="input-right" class="input-group col-lg-6 col-xs-12 pull-right">-->
            <!--<span class="input-group-addon icon-phone"><i class="fa fa-mobile"></i></span>-->
            <!--<input type="text" ng-model="customer.sdt" class="form-control" placeholder="Số điện thoại">-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="input-group">-->
            <!--<span class="input-group-addon icon-address"><i class="fa fa-map-marker"></i></span>-->
            <!--<input ng-model="customer.home" type="text" class="form-control" placeholder="Tên Nhà hàng, Cafe, Khách sạn/ Địa chỉ">-->
            <!--</div>-->

            <!--<button ng-click="clickMe(customer)" type="button" id="button-contact" class="btn btn-danger pull-right">Gửi yêu cầu tư vấn <i class="fa fa-comments-o"></i></button>-->
        </div>

        <!-- end con-lg-5 -->
        <div id="video" class="col-lg-7">
            <img src="../images/bell-pro.png" alt="video" class="img-responsive">

        </div>
    </div>
</div>
<!-- end input & video -->
<!-- start conten -->
<div id="content-bell">
    <div id="top-content-bell" class="row">
        <div class="row">
            <div class="col-sm-12 col-xs-12 visible-sm visible-xs item-bell-conten text-center">
                <img src="../images/block-1.png" alt="content" class="img-responsive">
            </div>
            <div class="col-lg-6 col-lg-push-1  col-md-6 col-sm-12 col-xs-12 item-bell-conten">
                <h3>Nhà hàng thông minh</h3>

                <p style="margin-bottom: 40px;">Với hệ thống nhà hàng thông minh giúp bạn quản lý nhà hàng tuyệt vời,
                    tăng hiệu suất phục vụ của nhà hàng.</p>

                <a href="" ng-click="showFeature = !showFeature" class="feature-btn">KHÁM PHÁ TÍNH NĂNG <i
                        class="fa fa-arrow-right"></i></a>

            </div>
            <div class="col-lg-4 col-md-6 col-lg-push-1 visible-lg visible-md item-bell-conten">
                <img src="../images/block-1.png" alt="content" class="img-responsive pull-right">
            </div>
        </div>
    </div>
    <div ng-show="showFeature" class="block-feature animate-show">
        <div class="bgcube"></div>
        <div id="content-dropdow" class="row">
            <div ng-include="'views/feature.html'"></div>
        </div>
    </div>
    <div id="better-content-bell" class="row">
        <div class="col-lg-5 col-lg-push-1 col-sm-12 col-xs-12 visible-lg visible-md item-bell-conten">
            <img src="../images/block-2.png" alt="content" class="img-responsive">
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 visible-sm visible-xs item-bell-conten text-center">
            <img src="../images/block-2.png" alt="content" class="img-responsive">
        </div>
        <div class="col-lg-5 col-lg-push-1 col-md-7 col-sm-12 col-xs-12 item-bell-conten">
            <h3>Thương mại điện tử</h3>

            <p>Khi sử dụng hệ thống nhà hàng thông minh, nhà hàng sẽ được tích hợp miễn phí lên "Cổng thương mại điện tử
                Dù đỏ". Giúp nhà hàng tăng hiệu quả kinh doanh !</p>
            <a href="" class="feature-btn pull-right">Hoạt động thế nào <i class="fa fa-question"></i> </a>
        </div>

    </div>
    <div id="bottom-content-bell" class="row">
        <div class="col-lg-5 col-md-5 visible-sm visible-xs item-bell-conten text-center">
            <img src="../images/block-3.png" alt="content" class="img-responsive">
        </div>
        <div class="col-lg-5 col-lg-push-1 col-md-7 col-sm-12 col-xs-12 item-bell-conten">
            <h3>Đa thiết bị</h3>

            <p>Truy cập dễ dàng trên mọi thiết bị điện thoại, máy tính bảng, laptop hay máy tính để bàn.</p>

            <div class="icon-device"><i class="fa fa-mobile"></i> <i class="fa fa-tablet"></i> <i
                    class="fa fa-desktop"></i> <i class="fa fa-linux"></i> <i class="fa fa-apple"></i> <i
                    class="fa fa-android"></i> <i class="fa fa-windows"></i></div>
            <!--<a href="" class="feature-btn"> Update content...<i class="fa fa-arrow-right"></i></a>-->
        </div>
        <div class="col-lg-4 col-lg-push-2 col-md-5 visible-lg visible-md item-bell-conten">
            <img src="../images/block-3.png" alt="content" class="img-responsive pull-right">
        </div>
    </div>
</div>

<!-- end content -->
<div id="price-state" class="row">
    <div class="price-page">
        <div class="container">
            <h1 class="title-page">Bạn muốn tham gia vào hệ thống bell manager?</h1>
            <p class="introduction">Chúng tôi có các gói dịch vụ phù hợp với yêu cầu và sở thích của bạn</p>
            <table class="table table-condensed price-table">
                <thead>
                <tr>
                    <th class="first">
                        <div class="display_style">
                            <label><i class="fa fa-bell"></i> Tính năng</label>
                        </div>
                    </th>
                    <th class="free">
                        <div class="box">
                            Cơ Bản
                        </div>
                        <div class="box-money">
                            99$ - 149$
                        </div>
                    </th>
                    <th class="basic">
                        <div class="box">
                            Chuyên Nghiệp
                        </div>
                        <div class="box-money">
                            200$ - 500$
                        </div>
                    </th>
                    <th class="pro">
                        <div class="box">
                            Theo yêu cầu
                        </div>
                        <div class="box-money">
                            >1000$
                        </div>
                    </th>
                    <th class="unlimit">
                        <div class="box">
                            Không giới hạn
                        </div>
                        <div class="box-money">
                            >2000$
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Lưu trữ</td>
                    <td><span>100MB</span></td>
                    <td><span class="big">2000MB</span></td>
                    <td><span class="big-to">5000MB</span></td>
                    <td><span class="big-big">Không giới hạn</span></td>
                </tr>
                <tr>
                    <td class="template">Giao diện</td>
                    <td><span>Giao diện cơ bản</span></td>
                    <td><span class="big">Giao diện đẹp</span></td>
                    <td><span class="big-to">Giao diện cực đẹp</span></td>
                    <td><span class="big-big">Giao diện cực đẹp</span></td>
                </tr>
                <tr>
                    <td class="seo">Tối ưu hóa công cụ tìm kiếm (SEO) <a href="#" class="question" data-original-title="&lt;img class='pull-left' src='http://assets3.sieuweb.vn/bundles/brodevsweb/images/frontend/images/price/seo.png?version=1388633605'&gt;Làm thế nào để Google tìm thấy website của bạn và website của bạn đạt thứ hạng cao trong kết quả tìm kiếm."></a></td>
                    <td><span>Hạn chế</span></td>
                    <td><span class="big">Cơ bản</span></td>
                    <td><span class="big-to">Đầy đủ</span> </td>
                    <td><span class="big-big">Đầy đủ</span></td>
                </tr>
                <tr>
                    <td>Thanh toán trực tuyến qua thẻ tín dụng, ATM và thẻ điện thoại</td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                </tr>
                <tr class="pay_online">
                    <td>Phí thanh toán trực tuyến <span class="italic">(cho người bán hàng)</span> <span>*</span></td>
                    <td>5%</td>
                    <td><span class="big">2%</span></td>
                    <td><span class="big-to">1%</span></td>
                    <td><span class="big-big">0%</span></td>
                </tr>

                <tr>
                    <td>Đưa <span class="italic">Danh mục sản phẩm</span> và <span class="italic">Danh mục blog</span> lên menu <a href="#" class="question" data-original-title="Bạn có thể chuyển &lt;span&gt;Danh mục sản phẩm&lt;/span&gt; và &lt;span&gt;Danh mục blog&lt;/span&gt; từ sidebar lên menu&lt;br&gt;&lt;img src='http://assets2.sieuweb.vn/bundles/brodevsweb/images/frontend/images/price/new-products.jpg?version=1388633605'&gt;"></a></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                </tr>

                <tr>
                    <td class="new_products">Tính năng sản phẩm nổi bật, sản phẩm mới, mã giảm giá… <a href="#" class="question" data-original-title="&lt;img class='pull-left' src='http://assets1.sieuweb.vn/bundles/brodevsweb/images/frontend/images/price/sale.png?version=1388633605'&gt;Bạn có thể thêm tính năng sản phẩm nổi bật, sản phẩm mới hãy mã giảm giá... cho mỗi sản phẩm."></a></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="end">
    <div class="content-end">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <h3>GIỚi THIỆU BELL MANAGER</h3>

                <p>Công ty TNHH Giải pháp Truyền thông và Công nghệ VSOFT (VSOFT Solution) được thành lập năm 2012. Với
                    đội ngũ trẻ, năng động, sáng tạo, chuyên nghiệp, VSOFT không ngừng nỗ lực để phát triển những sản
                    phẩm đi đầu xu thế, đứng đầu thị trường mà còn là tạo ra những sản phẩm thực sự có giá trị cộng đồng
                    nói riêng và cả xã hội nói chung.
                </p>
            </div>
            <div id="img-end" class="col-lg-7 col-md-7">
                <img class="img-responsive" src="../images/img-footer.png" alt="footer">
            </div>
        </div>
        <div class="footer-divider"></div>
        <div class="row dist_off_foot">
            <div class="widget col-lg-2 col-md-2 col-sm-4 visible-lg ">
                <h5 class="tit_cont_foot">Về chúng tôi</h5>
                <ul class="list-unstyled">
                    <li><a href="#"><span class="fa fa-info-circle"></span> Giới thiệu chung</a></li>
                    <li><a href="#"><span class="fa fa-rocket"></span> Sứ mệnh - Tầm nhìn</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-circle-arrow-right"></span>Câu chuyện Logo</a></li>
                    <li><a href="#"><span class="fa fa-users"></span> Đối tác - Khách hàng</a></li>
                    <li><a href="#"><span class="fa fa-bullhorn"></span> Tin tức - Báo chí</a></li>
                </ul>
            </div>
            <div class="widget col-lg-2 col-md-3 col-sm-4 visible-lg visible-md">
                <h5 class="tit_cont_foot">Sản phẩm</h5>
                <ul class="list-unstyled">
                    <li><a href="#"><span class="fa fa-magic"></span> Chúng tôi khác biệt</a></li>
                    <li><a href="#"><span class="fa fa-cloud"></span> Doanh nghiệp trực tuyến</a></li>
                    <li><a href="#"><span class="fa fa-shopping-cart"></span> Thương mại điện tử</a></li>
                    <li><a href="#"><span class="fa fa-bullseye"></span> Truyền thông số</a></li>
                    <li><a href="#"><span class="fa fa-toggle-right"></span> Nội dung số</a></li>
                </ul>
            </div>
            <div class="widget col-lg-2 col-md-3 col-sm-4 visible-lg visible-md">
                <h5 class="tit_cont_foot">Liên hệ</h5>
                <ul class="list-unstyled">
                    <li><a href="#"><span class="fa fa-comments-o"></span> Trung tâm hỗ trợ</a></li>
                    <li><a href="#"><span class="fa fa-envelope-o"></span> Liên hệ đầu tư</a></li>
                    <li><a href="#"><span class="fa fa-random"></span> Chương trình đối tác</a></li>
                    <li><a href="#"><span class="fa fa-puzzle-piece"></span> Tuyển dụng</a></li>
                </ul>
            </div>

            <div class="widget col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h5 class="tit_cont_foot">Hà Nội</h5>

                <p><i class="fa fa-map-marker"></i> Toà nhà Trung Yên 1 - Vũ Phạm Hàm - Cầu Giấy- Hà Nội.</p>

                <p><i class="fa fa-phone-square"></i> 04.38.550.999</p>

                <p><span class="fa fa-envelope"></span> <a href="mailto:contact@vsoft.vn" class="info_contact">TungNguyen@vsoft.vn</a>
                </p>
            </div>
            <div class="widget col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h5 class="tit_cont_foot">Hồ Chí Minh</h5>

                <p><i class="fa fa-map-marker"></i> 266/22 Tô Hiến Thành - Phường 15 <br> - Quận 10 - Hồ Chí Minh.</p>

                <p><i class="fa fa-phone-square"></i> 0866.823.282</p>

                <p><span class="fa fa-envelope"></span> <a href="mailto:contact@vsoft.vn" class="info_contact">TungNguyen@vsoft.vn</a>
                </p>
            </div>
        </div>
    </div>

    <div class="footer-divider"></div>

    <div class="row">
        <div class="row">
            <p class="copy_right text-center">2013 © VSOFT SOLUTION </p>
        </div>
    </div>
</div>
<!---->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="../vendor/external/application.js"></script>-->
<!--<script src="../vendor/external/waypoints/waypoints.js"></script>-->
<!--<script src="../vendor/js/can_i_haz.js"></script>-->
<script src="../vendor/royalslider/jquery.royalslider.minf76d.js?v=9.3.6"></script>
<script type="text/javascript" src="../vendor/menu-responsive/js/jquery.mmenu.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
