<div id="banner-infobell">
    <img src="images/gt_support.jpg" alt="gt" class="img-responsive">
</div>
<div class="navbar navbar-default navbar-fixed-top visible-lg visible-md container" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-6">
        <ul class="nav navbar-nav">
            <li id="icon-home" class="active"><a href="#/"><i class="fa fa-home"></i></a></li>
            <li><a href="#/gioi-thieu"><i class="fa fa-comments-o"></i> Giới thiệu</a></li>
            <li><a href="#/support"><i class="fa fa-cogs"></i> Hỗ trợ</a></li>
            <li><a href="#/banggia"><i class="fa fa-credit-card"></i> Bảng giá</a></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</div>
<div class="container">
    <div id="logo">
        <a href="#">
            <img src="images/logo.png" alt="logo">
        </a>
    </div>
</div>
<div id="support">
    <div class="container">
        <div id="intro-text-sp" class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <h1>Welcome to Bell Support <i class="fa fa-wrench"></i></h1>

            <h2>Tìm hiểu về sản phẩm của Bell.vn, xem hướng dẫn sử dụng trực tuyến, update phiên bản mới nhất và nhiều
                hơn nữa. Kết nối với hệ thống thương mại điện tử, với người dùng khác của bell.vn hoặc nhận được hỗ trợ
                tư vấn chuyên môn từ Bell.vn </h2>
        </div>
        <div id="img-sp" class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <img src="images/img-banggiad.jpg" alt="support" class="img-responsive">
        </div>
    </div>
</div>
<div id="products">
    <div class="container">
        <div class="col-lg-3">
            <img src="images/tv-banggia.jpg" alt="tv-banggia" class="img-responsive">
            <a href="" class="tittle-producs"><i class="fa fa-desktop"></i> TV</a>
        </div>
        <div class="col-lg-3">
            <img src="images/tablet-banggia.jpg" alt="tv-banggia" class="img-responsive">
            <a href="" class="tittle-producs"><i class="fa fa-tablet"></i> Tablet</a>
        </div>
        <div class="col-lg-3">
            <img src="images/iphone-banggia.jpg" alt="tv-banggia" class="img-responsive">
            <a href="" class="tittle-producs"><i class="fa fa-mobile"></i> IOS</a>
        </div>
        <div class="col-lg-3">
            <img src="images/androi.jpg" alt="tv-banggia" class="img-responsive">
            <a href="" class="tittle-producs"><i class="fa fa-mobile"></i> Android</a>
        </div>
    </div>
</div>
<div id="hotro-bell">
    <div class="container">
        <div id="first-hotro-bell" class="col-lg-6">
            <h3>Hỗ trợ cộng đồng</h3>
            <i class="fa fa-comments"></i>

            <p>Tìm và chia sẻ các giải pháp với cộng đồng bell.vn</p>
        </div>
        <div class="col-lg-6">
            <h3>Hỗ trợ kỹ thuật</h3>
            <i class="fa fa-phone"></i> &nbsp &nbsp &nbsp<i class="fa fa-skype"></i>

            <p>Bạn gắp vấn đề về kỹ thuật, hãy liên lạc với chúng tôi ngay bây giờ</p>
        </div>
    </div>
</div>
<div id="end" class="ng-scope">
    <div class="container">
        <div class="row dist_off_foot">
            <div class="widget col-lg-2 col-md-2 col-sm-4 visible-lg ">
                <h5 class="tit_cont_foot">Về chúng tôi</h5>
                <ul class="list-unstyled">
                    <li><a href="#"><span class="fa fa-info-circle"></span> Giới thiệu chung</a></li>
                    <li><a href="#"><span class="fa fa-rocket"></span> Sứ mệnh - Tầm nhìn</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-circle-arrow-right"></span>Câu chuyện Logo</a></li>
                    <li><a href="#"><span class="fa fa-users"></span> Đối tác - Khách hàng</a></li>
                    <li><a href="#"><span class="fa fa-bullhorn"></span> Tin tức - Báo chí</a></li>
                </ul>
            </div>
            <div class="widget col-lg-2 col-md-2 col-sm-4 visible-lg ">
                <h5 class="tit_cont_foot">Sản phẩm</h5>
                <ul class="list-unstyled">
                    <li><a href="#"><span class="fa fa-magic"></span> Chúng tôi khác biệt</a></li>
                    <li><a href="#"><span class="fa fa-cloud"></span> Doanh nghiệp trực tuyến</a></li>
                    <li><a href="#"><span class="fa fa-shopping-cart"></span> Thương mại điện tử</a></li>
                    <li><a href="#"><span class="fa fa-bullseye"></span> Truyền thông số</a></li>
                    <li><a href="#"><span class="fa fa-toggle-right"></span> Nội dung số</a></li>
                </ul>
            </div>
            <div class="widget col-lg-2 col-md-2 col-sm-4 visible-lg ">
                <h5 class="tit_cont_foot">Liên hệ</h5>
                <ul class="list-unstyled">
                    <li><a href="#"><span class="fa fa-comments-o"></span> Trung tâm hỗ trợ</a></li>
                    <li><a href="#"><span class="fa fa-envelope-o"></span> Liên hệ đầu tư</a></li>
                    <li><a href="#"><span class="fa fa-random"></span> Chương trình đối tác</a></li>
                    <li><a href="#"><span class="fa fa-puzzle-piece"></span> Tuyển dụng</a></li>
                </ul>
            </div>

            <div class="widget col-lg-3 col-md-3 col-sm-6 ">
                <h5 class="tit_cont_foot">Hà Nội</h5>

                <p><i class="fa fa-map-marker"></i> Toà nhà Trung Yên 1 - Vũ Phạm Hàm - Cầu Giấy- Hà Nội.</p>

                <p><i class="fa fa-phone-square"></i> 04.38.550.999</p>

                <p><span class="fa fa-envelope"></span> <a href="mailto:contact@vsoft.vn" class="info_contact">TungNguyen@vsoft.vn</a>
                </p>
            </div>
            <div class="widget col-lg-3 col-md-3 col-sm-6 ">
                <h5 class="tit_cont_foot">Hồ Chí Minh</h5>

                <p><i class="fa fa-map-marker"></i> 266/22 Tô Hiến Thành - Phường 15 <br> - Quận 10 - Hồ Chí Minh.</p>

                <p><i class="fa fa-phone-square"></i> 0866.823.282</p>

                <p><span class="fa fa-envelope"></span> <a href="mailto:contact@vsoft.vn" class="info_contact">TungNguyen@vsoft.vn</a>
                </p>
            </div>
        </div>

    </div>

    <div class="footer-divider"></div>

    <div class="container">
        <div class="row">
            <p class="copy_right text-center">2013 © VSOFT SOLUTION </p>
        </div>
    </div>
</div>
