<div class="page page-general">
    <!--Step 1-->
    <div class="col-md-6">
        <div class="panel panel-profile">
            <div class="panel-heading bg-success clearfix">
                <a href="" class="pull-left profile">
                    <img alt="" src="images/courses/js.png" class="img-circle img80_80">
                </a>

                <h3>Javascript</h3>

                <p>Core language Develop</p>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge badge-primary">available</span>
                    <i class="fa fa-cloud-download"></i>
                    <a href="#">Download Slide</a>
                </li>
                <li class="list-group-item">
                    <span class="badge badge-primary">available</span>
                    <i class="fa fa-cloud-download"></i>
                    <a href="#">Download Practices</a>
                </li>
                <li class="list-group-item">
                    <span class="badge badge-success">Done</span>
                    <i class="fa fa-flask"></i>
                    Nguyen Thanh Tien
                </li>
                <li class="list-group-item">
                    <span class="badge badge-success">Done</span>
                    <i class="fa fa-calendar-o"></i>
                    18:30 - 22/8/2014
                </li>
            </ul>
        </div>
    </div>
    <!--End Step 1-->

    <!--Step 2-->
    <div class="col-md-6">
        <div class="panel panel-profile">
            <div class="panel-heading bg-success clearfix">
                <a href="" class="pull-left profile">
                    <img alt="" src="images/courses/node.png" class="img-circle img80_80">
                </a>

                <h3>Node.js</h3>

                <p>Overview Node.js</p>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge badge-info">Waiting</span>
                    <i class="fa fa-cloud-download"></i>
                    <a href="#">Download Slide</a>
                </li>
                <li class="list-group-item">
                    <span class="badge badge-info">Waiting</span>
                    <i class="fa fa-cloud-download"></i>
                    <a href="#">Download Practices</a>
                </li>
                <li class="list-group-item">
                    <span class="badge badge-danger">Pending</span>
                    <i class="fa fa-flask"></i>
                    Nguyen Thanh Tien
                </li>
                <li class="list-group-item">
                    <span class="badge badge-danger">Pending</span>
                    <i class="fa fa-calendar-o"></i>
                    18:30 - 22/8/2014
                </li>
            </ul>
        </div>
    </div>
    <!--End Step 2-->

    <!--Step 3-->
    <div class="col-md-6">
        <div class="panel panel-profile">
            <div class="panel-heading bg-success clearfix">
                <a href="" class="pull-left profile">
                    <img alt="" src="images/courses/fwjs.png" class="img-circle img80_80">
                </a>

                <h3>Framework</h3>

                <p>Express.js & View Engine</p>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge badge-info">Waiting</span>
                    <i class="fa fa-cloud-download"></i>
                    <a href="#">Download Slide</a>
                </li>
                <li class="list-group-item">
                    <span class="badge badge-info">Waiting</span>
                    <i class="fa fa-cloud-download"></i>
                    <a href="#">Download Practices</a>
                </li>
                <li class="list-group-item">
                    <span class="badge badge-danger">Pending</span>
                    <i class="fa fa-flask"></i>
                    Nguyen Thanh Tien
                </li>
                <li class="list-group-item">
                    <span class="badge badge-danger">Pending</span>
                    <i class="fa fa-calendar-o"></i>
                    18:30 - 22/8/2014
                </li>
            </ul>
        </div>
    </div>
    <!--End Step 3-->

    <!--Step 4-->
    <div class="col-md-6">
        <div class="panel panel-profile">
            <div class="panel-heading bg-success clearfix">
                <a href="" class="pull-left profile">
                    <img alt="" src="images/courses/socket.png" class="img-circle img80_80">
                </a>

                <h3>Realtime</h3>

                <p>Socket.io & ChatApp</p>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge badge-info">Waiting</span>
                    <i class="fa fa-cloud-download"></i>
                    <a href="#">Download Slide</a>
                </li>
                <li class="list-group-item">
                    <span class="badge badge-info">Waiting</span>
                    <i class="fa fa-cloud-download"></i>
                    <a href="#">Download Practices</a>
                </li>
                <li class="list-group-item">
                    <span class="badge badge-danger">Pending</span>
                    <i class="fa fa-flask"></i>
                    Nguyen Thanh Tien
                </li>
                <li class="list-group-item">
                    <span class="badge badge-danger">Pending</span>
                    <i class="fa fa-calendar-o"></i>
                    18:30 - 22/8/2014
                </li>
            </ul>
        </div>
    </div>
    <!--End Step 4-->

    <!--Step 5-->
    <div class="col-md-6">
        <div class="panel panel-profile">
            <div class="panel-heading bg-success clearfix">
                <a href="" class="pull-left profile">
                    <img alt="" src="images/courses/db.png" class="img-circle img80_80">
                </a>

                <h3>Database</h3>

                <p>Overview MongoDB</p>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge badge-info">Waiting</span>
                    <i class="fa fa-cloud-download"></i>
                    <a href="#">Download Slide</a>
                </li>
                <li class="list-group-item">
                    <span class="badge badge-info">Waiting</span>
                    <i class="fa fa-cloud-download"></i>
                    <a href="#">Download Practices</a>
                </li>
                <li class="list-group-item">
                    <span class="badge badge-danger">Pending</span>
                    <i class="fa fa-flask"></i>
                    Nguyen Thanh Tien
                </li>
                <li class="list-group-item">
                    <span class="badge badge-danger">Pending</span>
                    <i class="fa fa-calendar-o"></i>
                    18:30 - 22/8/2014
                </li>
            </ul>
        </div>
    </div>
    <!--End Step 5-->

    <!--Step 6-->
    <div class="col-md-6">
        <div class="panel panel-profile">
            <div class="panel-heading bg-success clearfix">
                <a href="" class="pull-left profile">
                    <img alt="" src="images/courses/scaling.png" class="img-circle img80_80">
                </a>

                <h3>SCALE NODE.JS</h3>

                <p>Scaling multi server</p>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge badge-info">Waiting</span>
                    <i class="fa fa-cloud-download"></i>
                    <a href="#">Download Slide</a>
                </li>
                <li class="list-group-item">
                    <span class="badge badge-info">Waiting</span>
                    <i class="fa fa-cloud-download"></i>
                    <a href="#">Download Practices</a>
                </li>
                <li class="list-group-item">
                    <span class="badge badge-danger">Pending</span>
                    <i class="fa fa-flask"></i>
                    Nguyen Thanh Tien
                </li>
                <li class="list-group-item">
                    <span class="badge badge-danger">Pending</span>
                    <i class="fa fa-calendar-o"></i>
                    18:30 - 22/8/2014
                </li>
            </ul>
        </div>
    </div>
    <!--End Step 6-->

    <!--Step 7-->
    <div class="col-md-6">
        <div class="panel panel-profile">
            <div class="panel-heading bg-success clearfix">
                <a href="" class="pull-left profile">
                    <img alt="" src="images/courses/integrating.png" class="img-circle img80_80">
                </a>

                <h3>integrating </h3>

                <p>Node.js with PHP, JAVA...</p>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge badge-info">Waiting</span>
                    <i class="fa fa-cloud-download"></i>
                    <a href="#">Download Slide</a>
                </li>
                <li class="list-group-item">
                    <span class="badge badge-info">Waiting</span>
                    <i class="fa fa-cloud-download"></i>
                    <a href="#">Download Practices</a>
                </li>
                <li class="list-group-item">
                    <span class="badge badge-danger">Pending</span>
                    <i class="fa fa-flask"></i>
                    Nguyen Thanh Tien
                </li>
                <li class="list-group-item">
                    <span class="badge badge-danger">Pending</span>
                    <i class="fa fa-calendar-o"></i>
                    18:30 - 22/8/2014
                </li>
            </ul>
        </div>
    </div>
    <!--End Step 7-->
</div>